<template name="actionButton">
    <span {{groupAttributes}}>
		{{#with soundButtonAtts}}
        {{> soundbutton this}}
		{{/with}}
        <button {{attributes}}>
			{{#if leftIcon}}
                {{> icon name=icon class=(iconClass "self-align-middle me-1") fw=true}}
            {{/if}}
            {{#if label}}
                <span class="lea-text w-100">{{label}}</span>
            {{/if}}
			{{> Template.contentBlock ..}}
			{{#if rightIcon}}
                {{> icon name=icon class=(iconClass "self-align-middle ms-1") fw=true}}
            {{/if}}
        </button>
    </span>
</template>